## Задание 1

In [34]:
import numpy as np
import pandas as pd

In [35]:
from sklearn.datasets import load_boston

In [36]:
boston = load_boston()

In [4]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [5]:
boston['data'].shape

(506, 13)

In [6]:
data = boston['data']

In [7]:
feature_names = boston['feature_names']
feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [8]:
target = boston['target']
boston['target'].shape

(506,)

In [9]:
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [10]:
y = pd.DataFrame(target, columns = ['price'])
y.info

<bound method DataFrame.info of      price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]>

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()

In [15]:
lr.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred = lr.predict(X_test)

In [17]:
y_pred.shape

(152, 1)

In [18]:
check_test = pd.DataFrame({'y_test': y_test['price'], 'y_pred': y_pred.flatten()})
check_test.head

<bound method NDFrame.head of      y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
..      ...        ...
441    17.1  17.403672
23     14.5  13.385941
225    50.0  39.983425
433    14.3  16.682863
447    12.6  18.285618

[152 rows x 2 columns]>

In [19]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [20]:
from sklearn.metrics import r2_score

In [21]:
?r2_score

In [22]:
r2_score(check_test['y_test'],check_test['y_pred'])

0.7112260057484929

## Задание 2

In [23]:
from sklearn.ensemble import RandomForestRegressor

In [24]:
model = RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

In [25]:
model.fit(X_train, y_train.values[:,0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [26]:
y_pred2 = model.predict(X_test)

In [27]:
y_pred2.shape

(152,)

In [28]:
check_test2 = pd.DataFrame({'y_test2': y_test['price'], 'y_pred2': y_pred2.flatten()})
check_test2.head

<bound method NDFrame.head of      y_test2    y_pred2
173     23.6  22.806412
274     32.4  31.131464
491     13.6  16.339125
72      22.8  23.810726
452     16.1  17.139521
..       ...        ...
441     17.1  13.521640
23      14.5  15.112621
225     50.0  42.808700
433     14.3  15.586103
447     12.6  16.072425

[152 rows x 2 columns]>

In [29]:
check_test2["error"] = check_test2["y_pred2"] - check_test2["y_test2"]
check_test2.head()

     y_test2    y_pred2     error
173     23.6  22.806412 -0.793588
274     32.4  31.131464 -1.268536
491     13.6  16.339125  2.739125
72      22.8  23.810726  1.010726
452     16.1  17.139521  1.039521

In [30]:
r2_score(check_test2['y_test2'],check_test2['y_pred2'])

0.87472606157312

В данном случае модель RandomForestRegressor показывает лучше результат, чем модель LinearRegression.

## Задание 3

In [37]:
?RandomForestRegressor

In [42]:
model.feature_importances_

array([0.03167574, 0.00154252, 0.00713813, 0.00123624, 0.01426897,
       0.40268179, 0.01429864, 0.06397257, 0.00528122, 0.01152493,
       0.01808108, 0.01245085, 0.41584732])

In [44]:
model.feature_importances_.sum()

1.0