## Задание 4

In [1]:
import pandas as pd
import numpy as np

In [2]:
authors = pd.DataFrame({'author_id':[1, 2, 3],
                        'author_name':['Тургенев', 'Чехов', 'Островский']}, columns = ['author_id','author_name'])

In [3]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                    'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                    'price':[450, 300, 350, 500, 450, 370, 290]}, columns = ['author_id','book_title','price'])

In [4]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')

In [5]:
top5 = authors_price.nlargest(5,'price')

In [6]:
authors_stat = top5.groupby('author_name').agg({'price':['min', 'max', 'mean']})
authors_stat

            price
              min  max   mean
author_name
Островский    370  370  370.0
Тургенев      350  450  400.0
Чехов         450  500  475.0