## Задание 5

In [1]:
import pandas as pd
import numpy as np

In [2]:
authors = pd.DataFrame({'author_id':[1, 2, 3],
                        'author_name':['Тургенев', 'Чехов', 'Островский']}, columns = ['author_id','author_name'])

In [3]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],
                    'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                    'price':[450, 300, 350, 500, 450, 370, 290]}, columns = ['author_id','book_title','price'])

In [4]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')

In [5]:
top5 = authors_price.nlargest(5,'price')

In [6]:
authors_stat = top5.groupby('author_name').agg({'price':['min', 'max', 'mean']}).copy()

In [7]:
authors_price.loc[:,'cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']

In [8]:
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [9]:
?pd.pivot_table

In [10]:
book_info = pd.pivot_table(authors_price,
               index = ['author_name'],
              values = ['price'],
               columns = ['cover'],
               aggfunc=np.sum,
               fill_value = 0)

In [11]:
book_info

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950

In [12]:
book_info.to_pickle('books_info.pkl')

In [13]:
book_info2 = pd.read_pickle('books_info.pkl')

In [14]:
book_info2

             price
cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650     450
Чехов            0     950

In [15]:
book_info == book_info2

             price
cover       мягкая твердая
author_name
Островский    True    True
Тургенев      True    True
Чехов         True    True